@{
    Layout = "_Layout";
    ViewData["Title"] = "Начало";
}

<section class="hero">
    <div class="container">
        <h1>Добре дошли в ByteBite!</h1>
        <p style="font-size:1.5rem; margin:1.5rem 0; font-weight: 500;">Автентична българска и европейска кухня</p>
        <a asp-area="" asp-controller="Home" asp-action="Index" asp-fragment="menu" class="btn btn-primary" style="font-size:1.3rem; padding:0.95rem 2.5rem;">Разгледай менюто</a>
    </div>
</section>

<section class="container menu-section" id="menu">
    <h2 style="text-align:center; margin:3.5rem 0 2rem; font-size: 2rem; color: #2b140d;">Популярни предложения</h2>
    <div class="card-grid">
            <div class="card">
                <img src="~/images/dishes/5bceb9c6-25f8-4cc0-9950-cad071442724_54160338775_3fae945ea4_k-1365x910.jpg" asp-append-version="true" alt="Храна">
                <div class="card-content">
                <h3>Крем Карамел</h3>
                <div class="price">8 €</div>
                </div>
            </div>
        <div class="card">
            <img src="~/images/dishes/6ad4a0a5-7fde-45e1-a43a-3edea2f1c7fe_domashna-musaka-s-kaima-i-kartofi-puhkava-zalivka.webp" asp-append-version="true" alt="Храна">
            <div class="card-content">
                <h3>Мусака</h3>
                <div class="price">11 €</div>
            </div>
        </div>
        <div class="card">
            <img src="~/images/dishes/9e42608c-f82b-4c63-8c76-122b28b0a4e5_shopska-salata_thumb-blog_post.jpg" asp-append-version="true" alt="Храна">
            <div class="card-content">
                <h3>Шопска салата</h3>
                <div class="price">7 €</div>
            </div>
        </div>
    </div>
</section>
